@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "sass";

body {
  font-family: $primary-font;
  margin: 0;
}

.logo {
  float: left;
  width: 150px;
  margin: 20px 0 0 10px;
}

.nav {
  float: right;

  a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    padding: 0 50px;
    color: white;
  }
}

.hero {
  background-color: white;
  height: 600px;
  clear: both;
  padding-top: 80px;
  margin-top: $header-height;
  margin-bottom: $header-height;

  h1 {
    margin: 0;
    float: left;
    width: 60%;
    text-align: center;
    margin-top: 105px;
    font-size: 48px;
  }

}

.hero-content {
  float: left;
  width: 40%;
}

.header {
  background-color: black;
  height: $header-height;
  position: fixed;
  width: 100%;
  top: 0;

}

.VP {
  background-color: $color-gray;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 600px;
  width: 1300px;
}

.intro-centre {
  text-align: center;
  font-size: 25px;
  color: #303030;
  margin-top: 0px;
  padding-top: 40px;
  margin-bottom: 50px;

}

.vp-icon {
  @include grid-item(33.333333%);
  
  h2 {
  font-size: $h2-font-size
  }

  p {
    font-family: $secondary-font;
    padding: 0 40px;
  }
  img {
    max-width: 200px;
    padding-bottom: 30px;


  }
}

.blog-advert {
  margin-bottom: 50px;
}

.blog-image {
  text-align: center;

  p {
    padding:0 60px;
  }
}

.button {
  background-color: pink;
  width: 200px;

  @include border-radius(10px);
}
    