---
title: Stefanie Gibson
---







<div class='header'>
  <div class='logo'>
    <img src='http://placehold.it/200x30'>
  </div>
  <div class='nav'>
    <a href='/'>HOME</a>
    <a href='/blog'>BLOG</a>
    <a href='/projects'>PROJECTS</a>
    <a href='/contact'>CONTACT</a>
  </div>
</div>

<section class='hero'>
  <div class='container'>
  <div class='row'>
    <div class='col-md-8 col-xs-8'>
  <h1>
Hey, I’m Stef and I’m a Toronto-based <b>interaction designer</b>. </h1>
</div>
 <div class='container'>
  <div class='row'>
    <div class='col-md-4 col-xs-4'>
  <div class='hero-content'>
  <%= image_tag('melinkedin.JPG') %>
  </div>
  </div>
</section>

<div class='VP'>
  <p class= 'intro-centre'>
    I believe digital user experiences should be <b>self-evident</b> and <b>obvious</b>. It is seamless user experience design that paves the way for products and services to shine. </p>
    <section class='vp-icons'>
      <div class="vp-icon">

        <h2><b>User Experience Copywriting</b></h2>

        <%= image_tag('typwriter.png') %>
        
        <p> Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
      </div>
      <div class="vp-icon">
      <h2><b>User Experience Design</b></h2>
       <%= image_tag('brain.png') %>
        <p> Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
      </div>
      <div class="vp-icon">
      <h2><b>User Research</b></h2>
        <%= image_tag('Reaearchicon.png') %>
        <p> Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
      </div>
   </section>
</div>

<div class='blog-advert'>
  <p class= 'intro-centre'>
   <b> Some recent writings from the blog! </b>
  </p> 
</div>

  </div>
</div> 

<div class='blog-images container'>
  <div class='row'>
    <div class='blog-image col-md-6'>
      <img src='http://placehold.it/250x250'>
      <h3>Blog Title Here </h3>
      <p>Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
    </div>
    <div class='blog-image col-md-6'>
      <img src='http://placehold.it/250x250'>
      <h3>Blog Title Here </h3>
      <p>Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
    </div>
  </div>
</div>