---
title: Stefanie Gibson
---







<div class='header'>
  <div class='logo'>
    <img src='http://placehold.it/200x30'>
  </div>
  <div class='nav'>
    <a href='/'>HOME</a>
    <a href='/blog'>BLOG</a>
    <a href='/projects'>PROJECTS</a>
    <a href='/contact'>CONTACT</a>
  </div>
</div>

<section class='hero'>
  <div class='container'>
  <div class='row'>
    <div class='col-md-9 col-xs-9'>
  <h1>
Hey, I’m Stef and I’m a Toronto-based <b>interaction designer</b>. </h1>
</div>
 <div class='container'>
  <div class='row'>
    <div class='col-md-3 col-xs-3'>
  <div class='hero-content'>
  <%= image_tag('melinkedin.jpg') %>
  </div>
  </div>
</section>

<div class='VP'>
  <p class= 'intro-centre'>
    Here's a little intro to the kinds of work I do and believe in </p>
    <section class='vp-icons'>
      <div class="vp-icon">
        <%= image_tag('cat.jpg') %>
        <p> Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
      </div>
      <div class="vp-icon">
        <img src='http://placehold.it/200x200'>
        <p> Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
      </div>
      <div class="vp-icon">
        <img src='http://placehold.it/200x200'>
        <p> Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
      </div>
   </section>
</div>

<div class='blog-advert'>
  <p class= 'intro-centre'>
    Recent Blogs will be featured here!
  </p> 
</div>

  </div>
</div> 

<div class='blog-images container'>
  <div class='row'>
    <div class='blog-image col-md-6'>
      <img src='http://placehold.it/250x250'>
      <h3>Blog Title Here </h3>
      <p>Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
    </div>
    <div class='blog-image col-md-6'>
      <img src='http://placehold.it/250x250'>
      <h3>Blog Title Here </h3>
      <p>Lorem ipsum dolor sit amet, nullam corpora repudiare eum ut. Ex tempor contentiones vim, pro prompta apeirian incorrupte id.</p>
    </div>
  </div>
</div>